---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <div class="page-heading" style="text-align: center; margin: 20px 0; padding: 20px; background-color: #f8f9fa; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <h1 style="font-size: 2.5rem; font-weight: 700; margin: 10px 0; letter-spacing: 2px; color: #343a40;">SQUARE<br/>ZERO</h1>
      <h2 style="font-size: 1.75rem; font-weight: 400; color: #6c757d; margin-bottom: 20px;">Business Card</h2>
      <div class="card" style="font-size: 1.2rem; font-weight: 300; color: #495057; margin-top: 15px;">
        Follow this link to see your latest Business card PDF
        <div>
          <a href="https://github.com/SekouKABA/my-business-card/blob/master/card.pdf" target="_blank" rel="noopener noreferrer" style="display: inline-block; margin-top: 10px; padding: 10px 20px; font-size: 1.1rem; font-weight: 500; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2); transition: background-color 0.3s ease, box-shadow 0.3s ease;">
            Card
          </a>
        </div>
      </div>
    </div>



            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 10 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="post-container">
                <div class="post-img-container">
                  <img class="post-img" src={{post.background}}>
                </div>
                <div class="post-text">
                  <div class="post-text-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                      {{ post.date | date: '%B %d, %Y' }}
                    </p>
                    </div>
                  {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                  {% else %}
                    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 20 }}</h3>
                  {% endif %}
                </div>
              </div>
            </a>
          </article>

          <hr>

        {% endfor %}


      </div>
    </div>
  </div>
